/*
  * Author: Ngoune Alban
  * email : alban.tyrex@gmail.com
  * phone: 6 94 64 31 52
  * creation year: 2021
*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

body main {
  padding: 0 10px;
  margin: 8px;
}

@media all and (max-width: 500px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  body main {
    padding: 0;
    margin: 0;
  }
}
