/*
  * Author: Ngoune Alban
  * email : alban.tyrex@gmail.com
  * phone: 6 94 64 31 52
  * creation year: 2021
*/

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

footer div {
  width: 100%;
}

@media all and (max-width: 500px) {
  footer {
    flex-direction: column;
    padding: 30px;
  }
}
