header {
  display: flex;
  align-items: center;
}

header .logo {
  height: 50px;
  width: auto;
}

header .links {
  margin-left: auto;
}

header .links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header .links ul li {
  list-style: none;
  border-top: 2px solid white;
  margin-right: 50px;
}

header .links ul li:hover {
  border-top: 2px solid #1515c4;
  color: #1515c4;
  cursor: pointer;
}
header .links ul li h4 {
  font-weight: normal;
}

header .inscription {
  color: #1515c4;
  font-weight: bold;
}

@media all and (max-width: 500px) {
  header {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  header .logo {
    margin-left: 20px;
  }
  header .links {
    align-self: flex-end;
    order: 3;
    width: 100%;
  }
  header .links ul {
    justify-content: space-around;
  }
  header .links ul li {
    text-align: center;
    width: 100%;
    margin: 0;
    border-top: none;
    border-bottom: 2px solid rgb(204, 204, 204);
  }
  header .links ul li:hover {
    border-bottom: 2px solid #1515c4;
    border-top: none;
    color: #1515c4;
  }

  header .inscription {
    margin-left: auto;
    margin-right: 20px;
  }
}
