.hebergements {
  display: flex;
  /* width: 100%; */
}

.hebergements .principale {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-right: 12px;
  padding: 10px 20px;
}
.hebergements .principale .liste-hebergements {
  display: flex;
  flex-wrap: wrap;
}

.hebergements .principale .liste-hebergements .hebergement {
  width: 30%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
  padding: 5px;
  margin: 0 2% 15px 0;
}
.hebergements .principale .liste-hebergements .hebergement:nth-child(3) {
  margin-right: 0%;
}
.hebergements .principale .liste-hebergements .hebergement:nth-child(6) {
  margin-right: 0%;
}

.hebergements .principale .liste-hebergements img {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hebergements .populaire {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: 12px;
  padding: 10px 20px;
}
.hebergements .populaire .h3 i {
  margin-left: auto;
}

.hebergements .populaire .liste-hebergements {
  display: flex;
  flex-direction: column;
}

.hebergements .populaire .liste-hebergements .hebergements {
  display: flex;
  width: 95%;
  height: 150px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  padding: 5px;
  margin: 0 0 15px 0;
}

.hebergements .populaire .liste-hebergements .hebergements img {
  height: 100%;
  width: 40%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  margin-right: 20px;
}

.hebergements .populaire .liste-hebergements .hebergements div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hebergements .populaire .liste-hebergements .hebergements div .note {
  margin-bottom: auto;
}

@media all and (min-width: 500px) and (max-width: 950px) {
  .hebergements .principale {
    width: 60%;
  }
  .hebergements .principale .liste-hebergements .hebergement {
    width: 40%;
  }
  .hebergements .populaire .liste-hebergements .hebergements img {
    margin-right: 5px;
  }
  .hebergements .principale .liste-hebergements .hebergement:nth-child(3) {
    margin-right: 2%;
  }
  .hebergements .populaire {
    width: 40%;
  }
}

@media all and (max-width: 500px) {
  .hebergements {
    flex-direction: column;
    width: 100%;
  }
  .hebergements .principale {
    order: 2;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    padding: 0;
  }
  .hebergements .principale .liste-hebergements {
    flex-direction: column;
    align-items: center;
  }

  .hebergements .principale .liste-hebergements .hebergement {
    width: 85%;
  }

  .hebergements .populaire {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hebergements .populaire .liste-hebergements {
    margin: 0;
    align-items: center;
  }
  .hebergements .populaire .liste-hebergements .hebergements {
    width: 85%;
    flex-direction: row;
  }
}
